html, body {
    margin: 0;
    padding: 0;
    background-color: #E6CFAA;
    font-family: 'Inter', sans-serif; // eller annan font du vill ha
  position: relative;
  z-index: 0;
    width: 100%;
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }